<div class="container mt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 'triage' }"
        (click)="selectTab('triage')"
        href=""
        >Triage</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 'about' }"
        (click)="selectTab('about')"
        href="#"
        >About</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [ngClass]="{ active: selectedTab === 'contact' }"
        (click)="selectTab('contact')"
        href="#"
        >Contact</a
      >
    </li>
  </ul>

  <div class="tab-content p-3 border border-top-0">
    <div *ngIf="selectedTab === 'triage'">
      <app-triage></app-triage>  
    </div>
    <!-- <div *ngIf="selectedTab === 'about'">
      <app-about></app-about>  
    </div>
    <div *ngIf="selectedTab === 'contact'">
      <app-contact></app-contact> 
    </div> -->
  </div>
</div>
